<% include header.ejs %>
<div class="jumbotron">
	<div class="container">
		<h1>Contact Me</h1>
	</div>
</div>
	<div class="container" id="contact-container">
		<form method="POST">
			<div class="form-group">
				<label>Your Name</label>
				<input type="text" class="form-control" name="name" placeholder="e.g. John Smith" required>
			</div>
			<div class="form-group">
				<label>Message</label>
				<textarea class="form-control" name="message" rows="5" placeholder="You can write me a message here, but please be nice." required></textarea>
			</div>
			<button type="submit" class="btn btn-primary" id="contact-btn">Submit</button>
		</form>

		<a href="https://github.com/RedWingedJerbear">
			<img src="/images/gitHub.png" alt="gitHubIco" style="width:42px;height:42px;border:2px;">
		</a>
		<a href="https://bitbucket.org/RedWingedJerbear/">
			<img src="/images/bitbucket.png" alt="bitBucketIco" style="width:42px;height:42px;border:2px;">
		</a>
		<a href="https://www.linkedin.com/in/jeremiah-white-62ab00a7/">
			<img src="/images/linkedIn.png" alt="linkeInIco" style="width:42px;height:42px;border:2px;">
		</a>
	</div>
	<% include footer.ejs %>