<%include header.ejs%>

  <div class="jumbotron">
    <div class="container">

      <img src="/images/personalPic.jpg" alt="profilePic" id="profilePic" class="rounded-circle">
      <h1>Hi I'm Jeremiah White!</h1>
      <h3>Here is a little bit about me:</h3>
      <p>I am a senior at Northwest Missouri State University, who will be graduating with a BS in computer science this fall.
        After graduation I will begin my career at Cerner in Kansas City as a software engineer.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>My History</h2>
        <p>I am from St. Joseph Missouri. I was home schooled during my grade school years up until graduating high school.
          I have a HVAC (Heating, Ventilation, and Air Conditioning) certification. I am interested in the combination of
          electronics and programming, such as with IoT (Internet of Things) devices.</p>
      </div>
      <div class="col-md-4">
        <h2>Moving Forward</h2>
        <p>As os August 2018 I have accepted a position as an entry level software engineer with Cerner. I am excited for the
          opportunity to start my career with a world class corporation and grow as an engineer</p>
      </div>
      <div class="col-md-4">
        <h2>Personal Life</h2>
        <p>I am married to my wonderful wife Amy, and we have three children together. We love to travel, watch movies, and
          spend lots of time together. I love to watch hockey, football and build PC's in my free time.</p>
      </div>
    </div>
    <hr>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lHvtZSsEYsE" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>

  <div class="container">
    <div class="row">
      <h3 id="schedule-header">My Fall 2018 Class Schedule:</h3>
      <ul>
        <li>Chemistry II and Lab</li>
        <li>Theory and Implementation of Programming Languages</li>
        <li>Web Apps and Services</li>
        <li>Database Applications</li>
      </ul>
    </div>
<% include footer.ejs %>