<% include header.ejs %>
<div class="jumbotron" id="jumbo">
    <div class="container">
        <h1>Tic Tac Toe</h1>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="X" autocomplete="off" checked> Play X's
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="O" autocomplete="off"> Play O's
            </label>
        </div>
    </div>
</div>
<div class="tictactoe-board">
    <div class="game-square" id="upper-left"></div>
    <div class="game-square" id="upper-mid"></div>
    <div class="game-square" id="upper-right"></div>
    <div class="game-square" id="center-left"></div>
    <div class="game-square" id="center-mid"></div>
    <div class="game-square" id="center-right"></div>
    <div class="game-square" id="lower-left"></div>
    <div class="game-square" id="lower-mid"></div>
    <div class="game-square" id="lower-right"></div>
</div>
<script src="js/tictactoe.js" defer></script>
<% include footer.ejs %>