/* ==========================================================================
   Jeremiah's custom styles
   ========================================================================== */

iframe {
    margin: 10px;
    padding: 10px;
}

.navbar {
    background-color: #006747;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: grey;
}

.navbar-brand {
    color: black
}

.navbar-brand:hover {
    color: grey;
}

#adminPic {
    align-self: center;
}

.row {
    background-color: #006747;
    color: white;
    border-radius: 15px;
}

footer {
    padding-top: 20px;
    margin-top: 20px;
}

#schedule-header{
    padding-left: 10px;
}

.tictactoe-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #006747;
    color: white;
    border: 10px solid white;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-square {
    border: 8px solid white;
    font-weight: bold;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-container{
    margin-top: 20px;
}